{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}

<div class="section-alt">
	<div class="container" id="top">
		<div class="content">
			<div class="row">
			
			<!-- blog-nav -->
			<div class="span3">		
				<div class="blognav">	
				<h4><a href="{{ SITEURL }}"  
				title="Koti"><i class="fa fa-home "></i>koti</a></h4>
				<h4><a href="{{ SITEURL }}/archives.html"  
				title="Arkisto"><i class="fa fa-archive "></i>arkisto</a></h4>
				</div>
			</div>
			<!-- /blog-nav -->
			
			<!-- entry-content -->
			<div class="span7">
				<div class="blogpost">	
					<h3 align="center">{{ article.title}}</h3>
					{% if article.category == "event" %}
						
						<h4 align="center">{{ article.date|strftime('%d.%m.%y') }} &mdash; {{ article.date|strftime('%H:%M') }} <i class="fa fa-location-arrow"></i> {{ article.author }}</h4>
						
						<p>{{ article.content }}</p>
					{% else %}
						<p>{{ article.content }}</p>
						<h5 align="right">{{ article.author }} - {{ article.date|strftime('%d %B %Y') }}</h5>
					{% endif %}		
				</div>
			</div>
			<!-- /entry-content -->
			
			</div>
			<h4 align="center"><a href="#top" class="clicker"><i class="fa fa-arrow-up"></i></a></h4>
		</div>
	</div>
</div>
<div class="section"></div>
{% endblock %}
